@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

img {
  width: 600px;
 
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 8px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin: 16px auto;
}

.header {
  display: flex;
  justify-content: space-between;
}

.content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;

}

.footer {
  display: flex;
  justify-content: space-between;
  background-color: #eeeeee;
}

div ul {
  display: flex;
  list-style-type: none;
  gap: 1rem;
  padding: 1rem;
  margin: 0;
}

ul li > a {
  text-decoration: none;
  color: rgb(53, 53, 53);
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 4px;
}

.input {
  text-align: center;
}
